/* BookUser.css */

.book-user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-height: 400px; /* Set your preferred maximum height */
  overflow: hidden; /* Hide overflow if the content exceeds the max height */
}

.book-user-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-media {
  width: 100%; /* Ensure the image takes the full width */
  height: 100%; /* Ensure the image takes the full height within the container */
  object-fit: cover; /* Resize the image while maintaining its aspect ratio */
  border-radius: 8px;
}

.card-content {
  text-align: center;
}

.book-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.book-description {
  color: #555;
  margin-bottom: 12px;
}

.book-price {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.quantity-input {
  margin-top: 8px;
  width: 60px; /* Adjust the width to your preference */
}

.book-user-button {
  margin-top: 16px;
  background-color: rgb(29, 120, 49);
  color: #fff;
  transition: background-color 0.3s ease;
  width: 100%; /* Make the button take the full width */
}

.book-user-button:disabled {
  background-color: #ccc;
  color: #fff;
}

.book-user-button:hover:enabled {
  background-color: #ff3d00;
}
